[submodule "nnheaders"]
  path = libs/nnsdk/submodule
  url = https://github.com/open-ead/nnheaders.git
[submodule "ArduinoJson"]
	path = libs/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
